body,input {
	font-family: DroidSans, Arial, sans-serif;
	font-size: 16px;
	color: #505050;
}

html,body,#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#header {
	position: fixed;
	top: 15px;
	left: 25px;
	z-index: 1000;
}

#results {
	background: #fff;
}

#search-box {
	position: relative;
}

input {
	padding: 10px;
	margin: 0;
	border: 1px solid #b2b2b2;
}

input[type="submit"] {
	background: #000;
	color: #fff;
	border: 2px solid #1ebad6;
	border-radius: 1px;
	padding: 9px;
}

#search-input {
	width: 300px;
}

#search-results {
	background: #fff;
	position: absolute;
	width: 320px;
	border: 1px solid #b2b2b2;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 3px 3px;
	display: none;
}

.movie-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,a:hover,a:active,a:visited {
	color: #505050;
	text-decoration: none;
}

.movie-list a {
	display: block;
	padding: 10px;
}

.movie-list a:hover,.selected {
	background: #f7f7f7;
}

#movie-section {
	display: none;
	width: 300px;
	padding: 10px;
	margin: 5px 0 0 1px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
	background-color: rgba(255, 255, 255, 1.0);
	overflow: hidden;
}

#movie-section img {
	float: left;
	width: 65px;
}

#movie-details {
	float: left;
	margin-left: 10px;
	width: 220px;
}

#movie-details h2 {
	margin: 0;
	font-size: 16px;
}

#movie-details h3 {
	margin: 0;
	font-size: 14px;
	font-weight: 100;
}

#movie-details p {
	font-size: 14px;
}

#movie-details span {
	font-weight: bold;
	color: #c5c5c5;
}

#pano {
	position: absolute;
	margin: auto;
	left: 360px;
	top: 125px;
	width: 60%;
	height: 70%;
	background-color: rgb(229, 227, 223);
	overflow: hidden;
	display: none;
}

#info-content {
	position: relative;
}

#info-content span {
	position: absolute;
	top: 0;
	left: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

#info-content p {
	width: 350px;
	margin: 0;
	font-size: 16px;
	color: #505050;
}